    <div class="mail-icon-container">
        <h2 class="card-name">{{hero2.name}}</h2>
        <!-- <ion-icon name="mail" class="mail-icon"  (click)="shareSheetShare()"></ion-icon> -->
            <img src="assets/images/email.png" class="mail-icon" (click)="shareSheetShare()">

    </div> 
    <ion-card class="border-radius"  color="wheat1" (click)="navigateToDetailPage()" >
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-5   #parentDiv no-padding>
                        <p class="bold center-txt" no-margin>{{hero2.collection[0].name}}</p>
                        <div id="donutChartId{{card_index}}" #donut class="donut-chart"></div>
                    </ion-col>
                    
                    <ion-col col-7 no-padding>
                        <p class="bold center-txt" no-margin>{{hero2.collection[0].name}}</p>
                        <div *ngFor="let array of bulletCardDataArray; let i = index">
                              <!-- {{array | json}}   -->
                            <ion-grid no-padding  *ngIf="i < 3">
                                <ion-row>
                                        <ion-col col-6 no-padding>
                                            <span class="truncate small-txt bold">{{array[0]}}</span>
                                        </ion-col>
                                        <ion-col col-6 no-padding text-right>
                                            <span class="small-txt legend-txt" [ngClass]="{'legend-paid': i == 0, 'legend-affiliate': i == 1,'legend-organic': i == 2}">{{this.kFormatter(array[1])}}</span>
                                             <span   *ngIf="this.projectedValue[i] > 0" class="small-txt legend-txt legend-projected">{{this.kFormatter(this.projectedValue[i])}}</span>
                                        </ion-col>
                                        <ion-col col-12   *ngIf="i < 3" no-padding>
<!--<div [ngClass]="{'paid-search': i == 0, 'affilates': i == 1,'organic': i == 2}" class="inner-div"></div>-->
<!--<bullet-chart [height]="height" [colors]="colors" [actual]="actual" [target]="target" [ranges]="ranges"></bullet-chart>-->
                                            <div class="hide-target" #cardBullet>
                                                <div class="mask2"></div>
                                                <div  id="bulletChart{{card_index}}{{i}}"
                                                [ngClass]="{'bullet-first': i == 0, 'bullet-sec': i == 1,'bullet-thrd': i == 2, 'bullet-frth': i == 3, 'bullet-fifth': i == 4,'bullet-sixth': i == 5}"
                                                ></div>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                            </ion-grid>
                        </div>
                    </ion-col>

                    <ion-col col-12 no-padding>
                         <div text-center>
                            <!-- <ion-item no-padding>  -->
                                    <span *ngFor="let array of donutDataArray; let i=index">
                                        <span  class="legend-txt small-txt" 
                                            [ngClass]="{'legend-paid': i == 0, 'legend-affiliate': i == 1,'legend-organic': i == 2, 'legend-display': i == 3, 'legend-others': i == 4,'legend-purple': i == 5,'legend-yellow': i == 6,'legend-light-pink': i == 7}">
                                            {{array[0]}}</span>
                                    </span>
                             <!-- </ion-item> -->
                        </div> 
                    </ion-col>
                </ion-row>
              </ion-grid>
        </ion-card-content>
    </ion-card>
