// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
//fonts
$font_0: sans-serif;
// $helvetica: "helvetica-neue", sans-serif;

@import "ionic.globals";




//urls
$url_0: url(../../assets/images/background.png);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);
$sidemenu_text: #dedfdf;
$sidemenu_bg: #272626;
$white: #ffffff;
$black: #000;
$color_bullet: #eaab1c;
$color_bar_graph: rgb(246, 139, 25);
$color_target_legend: #2ca02c;
$color_projected_legend: #e8e8e8;
$color_paid_search: #d5406a;
$color_affiliates: #0d6580;
$color_organic: #21daa0;
$color_display: #d3885f;
$color_others: #0b94ff;
$color_matisse_approx: #1e5799;
$color_curious_blue_approx: #2989d8;
$color_mariner_approx: #207cca;
$color_jordy_blue_approx: #7db9e8;
$color_viking_approx: #69b6d5;
$mail_icon: #3774ff;
$color_storm_dust_approx: #666;
$color_mountain_mist_approx: #999;
$color_gallery_approx: #eeeeee;
$color_alto_approx: #ddd;
$color_celeste_approx: #ccc;
$transparent: transparent;
$color_silver_approx: #bdbdbd;

$web_orange: orange;
$black_30: rgba(0, 0, 0, 0.3);
$bar_graph_bg: #464646;
$color_astronaut_blue_approx: #0a3b66;
$color_flamenco_approx: rgb(255, 127, 14);
$date_text: darkslateblue;
// $black_100: rgba(0, 0, 0, 1);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// @font-face{
// 	font-family: 'Helvetica Neue';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('#{$font-path}/hevetica/HelveticaNeue.ttf');
// }

// span{
// 	font-family: 'Helvetica Neue' !important;
// }