page-notification-details {
    ion-content{

    
    background:url('../assets/images/app_background.jpg');
   ion-card{
     border-radius:10px !important;
   
       ion-icon{
            float: right;
            font-size: .8em;
            
        }
     [col-4]{
         background-color:#21163e;
         position: relative;
        img{
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

        }
    
     }

   }
  .grid{
        padding: 0px;
    }
}
}
