page-home {

    $color_curious_blue_approx: #29a6cd;
	$color_denim_approx: #246fb3;

	background: $color_curious_blue_approx;
    background: linear-gradient($color_curious_blue_approx 15%, $color_denim_approx 35%);

    .hamburger{
        position: absolute;
        color: $white;
    }
    .name{
        color: $white;
        font-family: $helvetica;
    }
    .desg{
        color: $white;
        font-family: $helvetica;    
    }
    .user-icon-box{
        padding: 5px;
        display: flex;
        justify-content: space-around;
        color: white;
    }
    .refresh-share{
        font-size: 2.8em;
        border: 2px dotted #4cffff;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        padding: 4px 7px;
        margin-top: 16px;
    }
    .user-pic{
    border: 2px dotted #4cffff;
    border-radius: 50%;
    width: 26%;
    padding: 4px 4px 2px;
    }
    img{
        border-radius: 50%;
    }

}