page-home {

    $color_curious_blue_approx: #29a6cd;
	$color_denim_approx: #246fb3;

	background: $color_curious_blue_approx;
    background: linear-gradient($color_curious_blue_approx 15%, $color_denim_approx 35%);

    .hamburger{        position: absolute;        color: $white;    }
    .name{color: $white;        font-family: 'Helvetica-neue';}
    .desig{color: $white;        font-family: 'Helvetica-neue';}
    .user-info-box{
        // padding: 5px;
        display: flex;
        justify-content: space-around;
        color: white;
    
        .cog-icon, .home-share{font-size: 2.8em; border: 2px dotted #4cffff; border-radius: 50%; height: 50px; width: 50px; padding: 4px 7px; margin-top: 16px;}
        .user-pic{        border: 2px dotted #4cffff;        border-radius: 50%;        width: 26%;        padding: 4px 4px 0px;        }
        img{            border-radius: 50%;        }
    }
    .card-name {font-family: 'Helvetica-neue';font-size: 1.5em; color: $white;	line-height: 1.4;	background-color: transparent;	padding-left: 12px;	font-weight: normal;	margin: 15px 0 -10px;    }
    
    .mail-icon-container {
        position: relative;
        
        .mail-icon {position: absolute; right: 20px; padding: 7px 7px 3px; background-color: #ffffff; font-size: 20px; bottom: -1px; width: 7%; @include border-radius(5px 5px 0 0);}
    }
}