<ion-navbar *navbar>
  <ion-title>
    Home
  </ion-title>
</ion-navbar>

<ion-content class="home">
    <!--<h2>{{master}} controls {{people.length}} heroes</h2>-->
      <!--<page-cards [hero]="people" [master]="master"></page-cards>-->
  

    <div *ngFor="let card of people let i = index; let f=first; let l=last; let e=even; let o=odd;">
      <!--<h1>Length : {{card.length}}</h1>-->
        <div  *ngIf="card.id == 'same' ">
            <card1-design [hero]="card"></card1-design>          
        </div>

        <div  *ngIf="card.template == 'channels'">
            <card2-design [hero2]="card"></card2-design>          
        </div>
        
    </div>
    
</ion-content>