
<ion-header>
  <ion-navbar class="detail-back-btn">
    <ion-title  align="center">
      <button ion-button round class="date-btn">
        <ion-icon  md="md-time" ios="ios-time-outline"></ion-icon>{{navParams.data.date_today}}
      </button>
    </ion-title>
  </ion-navbar>

</ion-header>
  <ion-content class="app-bg">
    <div *ngFor="let name of cardName; let i = index;">
          <h2 *ngIf="i == 1" class="screen-title" align="center">{{name[1]}}</h2>
    </div>
        <div *ngIf="i == 0">

        </div>
    <ion-grid class="white-txt">
      <div *ngFor="let keys of tdyVisitsKeys; let i = index;">
        <ion-row class="pos-relative"  [ngClass]="{'hide': i < 0}">
            <ion-col class="detail-screen-card bg-grey">
                  <p class="detail-screen-card-title">Last week</p>
                <!-- <div class="demo-bullet"></div> -->
              <div class="card1-bullet-wraper" #bulletChart>
                  <div id="lastWeekBullet{{keys[1]}}"></div>
              </div>
               	<div>
                          		<span  class="legend-txt small-txt legend-tdy" >{{this.lastWeekVisits[i]}}</span>
                          		<!-- <span  class="legend-txt small-txt legend-target" >2.02M</span> -->
                          		<span  class="legend-txt small-txt legend-projected">0.00</span>
        			  </div>
          </ion-col>
	        <span class="txt-total">Total</span>
          <ion-col class="detail-screen-card bg-blue">
                <p class="detail-screen-card-title">Today</p>
                <!-- <div class="demo-bullet"></div> -->
              <div class="card1-bullet-wraper" #bulletChart>
                  <div id="detailTdyBullet{{keys[1]}}"></div>
              </div>
               	<div align="right">
                          		<span  class="legend-txt small-txt legend-tdy" >{{keys[1]}}</span>
                          		<span  class="legend-txt small-txt legend-target" >0.00</span>
                          		<span  class="legend-txt small-txt legend-projected">{{this.actualValue[i] || 0.00}}</span>
        			  </div>
          </ion-col>
        </ion-row>
        <ion-row class="pos-relative row-gap" >
      		<ion-col col-5 class="">
        			<div class="left-legends">
                  <span>{{keys[0]}}</span>
                  <span class="left-legend-icon"><ion-icon name="arrow-dropright-circle"></ion-icon></span>
              </div>
      		</ion-col>
      		<ion-col col-7 class="">
              <div class="card1-bullet-wraper" #bulletChart>
                  <div id="detailBullet{{keys[1]}}"></div>
                  <!--<bullet-chart [height]="height" [colors]="colors" [actual]="actual" [target]="target" [ranges]="ranges"></bullet-chart>-->
              </div>
      		</ion-col>
        </ion-row>
      </div>
    </ion-grid>


  </ion-content>
