
<ion-header>
  <ion-navbar class="detail-back-btn">
    <ion-title  align="center">
      <button ion-button round class="date-btn">
        <ion-icon  md="md-time" ios="ios-time-outline"></ion-icon>{{navParams.data.date_today}}
      </button>
    </ion-title>
  </ion-navbar>

</ion-header>
  <ion-content class="app-bg">
    <div *ngFor="let item of cardName; let i = index;">
          <h2 *ngIf="i == 1" class="screen-title" align="center">{{item[1]}}</h2>
    </div>
    <div *ngFor="let item of navParams.data.detail_trends; let i = index;">
          <div *ngIf="i == 0">
            <ion-grid class="white-txt">
              <ion-row class="pos-relative">
                  <ion-col class="detail-screen-card bg-grey">
                  	<p class="detail-screen-card-title">Last week</p>
      				      <div class="demo-bullet"></div>
               		  <div>
                          		<span  class="legend-txt small-txt" >2.02M</span>
                          		<span  class="legend-txt small-txt" >0.00</span>
        			      </div>
                </ion-col>
	              <span class="txt-total">Total</span>
                <ion-col class="detail-screen-card bg-blue">
                  	<p class="detail-screen-card-title">Today</p>
      				      <div class="demo-bullet"></div>
               		  <div align="right">
                          		<span  class="legend-txt small-txt" >2.02M</span>
                          		<span  class="legend-txt small-txt" >0.00</span>
        			      </div>
                </ion-col>
              </ion-row>
          </ion-grid>
        </div>
    </div>
    <ion-grid class="white-txt">
      <ion-row class="pos-relative">
      		<ion-col col-5 class="detail-screen-card bg-grey">
        			<div>
stgsjv        			</div>
      		</ion-col>
      		<ion-col col-7 class="detail-screen-card bg-grey">
        			<div>
         				<div id="bulletChart" #bulletChart class="donut-chart"></div>
        			</div>
      		</ion-col>
    	</ion-row>
    </ion-grid>


  </ion-content>
