

// page-cards {
// }
.mrgn-rght {
	margin-right: 10px;
}
.bar-graph-bg {
	background: $bar_graph_bg;
}
.bullet {
	font: 10px $font_0;
	.marker {
		stroke: $black;
		stroke-width: 2px;
	}
	.range {
		&.s0 {
			fill: $color_gallery_approx;
		}
		&.s1 {
			fill: $color_alto_approx;
		}
		&.s2 {
			fill: $color_celeste_approx;
		}
	}
	.measure {
		&.s0 {
			fill: $color_bullet;
		}
		&.s1 {
			fill: $color_bullet;
		}
	}
	.title {
		font-size: 14px;
		font-weight: bold;
	}
	.subtitle {
		fill: $color_mountain_mist_approx;
	}
	.tick line {
		stroke: $color_storm_dust_approx;
		stroke-width: .5px;
	}
}
.bar-chart .c3-bar {
	fill: $color_bar_graph !important;
	stroke: $color_bar_graph !important;
}
.bar-chart .c3-line {
	fill: $transparent !important;
	// stroke: $color_bar_graph !important;
}
.bar-chart .c3-circle{
    fill: $transparent !important;
}