// http://ionicframework.com/docs/v2/theming/

ion-app{
		$color_curious_blue_approx: #29a6cd;
		$color_denim_approx: #246fb3;

		background: $color_curious_blue_approx;
		background: linear-gradient($color_curious_blue_approx 15%, $color_denim_approx 35%);

		h1, h2, h3, h4, h5, h6, p{
			font-family: 'Helvetica-neue';
		}

	.header::after, .tabs[tabsPlacement="top"] > .tabbar::after, .footer::before, .tabs[tabsPlacement="bottom"] > .tabbar::before{
		background: none;
	}
	.side-menu{
		.menu-inner{
			background: $sidemenu-bg !important;
		}
		.sidemenu-tool{
			padding: 40px;
			.toolbar-background{	background: $sidemenu-bg; }
			.sidemenu-title{
				.toolbar-title{	
					color: $sidemenu_text;
					font-size: 24px;
					font-weight: 100;
					font-family: 'helvetica-neue-thin' !important;
				}
			}
		}
		.app-content{
			background: $transparent !important;			
			.scroll-content{
						background: $sidemenu_bg !important;
						padding-top: 5px;
				.sidemenu-container{
						// margin-top: 40px;
						background: $transparent !important;
					.sidemenu-btns{
						background: transparent;
						color: $sidemenu_text;
						border-top: 1px solid $black;
						padding: 10px 16px;
						font-size: 1.1em;
						ion-label{
							font-family: 'Helvetica-neue-thin' !important;
						}
						div{
							border-bottom: none !important;
						}
					}
				}
			}
		}
	}
	// App Global Sass
	// --------------------------------------------------
	// Put style rules here that you want to apply globally. These
	// styles are for the entire app and not just one component.
	// Additionally, this file can be also used as an entry point
	// to import other Sass files to be included in the output CSS.
	//
	// Shared Sass variables, which can be used to adjust Ionic's
	// default Sass variables, belong in "theme/variables.scss".
	//
	// To declare rules for a specific mode, create a child rule
	// for the .md, .ios, or .wp mode classes. The mode class is
	// automatically applied to the <body> element in the app.
	//colors
	.header-transparent{
		.toolbar-background{			background: $transparent;		}
	}
	.app-bg {
		// background-image: $url_0;
		// background: $url_0 no-repeat center center fixed;
		background-size: 100%;
		background: $transparent;
		// background: $color_matisse_approx;
		// background: linear-gradient(to right, $color_matisse_approx 0,$color_curious_blue_approx 50%,$color_mariner_approx 100%,$color_jordy_blue_approx 100%,$color_mariner_approx 100%);
		// filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_matisse_approx', endcolorstr='$color_mariner_approx',gradienttype=1 );
	}
	.border-radius {@include border-radius(6px);}
	.white-txt {color: $white;}
	.small-txt {font-size: 8px;font-weight: bold;}
	.display-flex {	display: flex;
		span {	display: inline-block;	}
	}
	.bold            {font-weight: bold;}
	.center-txt    {text-align: center;}
	.right-txt       {text-align: right;}
	.nomargin    {margin: 0;}
	.nopadding  {padding: 0;}

	.legend-txt::before 		  {content: ''; display: inline-block;	width: 8px;	height: 8px; @include border-radius(7px); background-color: $color_viking_approx;margin-right: 3px;	margin-left: 3px;}
	.legend-tdy::before 		 {background-color: $color_bullet;}
	.legend-last::before 		 {background-color: $last_year_bullet_color;}
	.legend-target::before		{background-color: $color_target_legend;}
	.legend-paid::before		 {background-color: $color_paid_search;}
	.legend-affiliate::before 	 {background-color: $color_affiliates;}
	.legend-organic::before    {background-color: $color_organic;}
	.legend-display::before     {background-color: $color_display;}
	.legend-others::before      {background-color: $color_others;}
	.legend-projected::before {background-color: $color_projected_legend;}
	.legend-purple::before {background-color: $color_purple_legend;}
	.legend-yellow::before {background-color: $color_yellow_legend;}
	.legend-light-pink::before {background-color: $color_light_pink_legend;}

	.last-year-bullet .bullet .measure.s0{
		fill: $last_year_bullet_color;
	}

	

}